/venv/
/src/preprocess_5_Aug2019/CommerciallyTradedList/.ipynb_checkpoints/
/src/preprocess_5_Aug2019/ForestKeywords/.ipynb_checkpoints/
**/__pycache__/**
.idea/**
*/__pycache__
/src/Collation/.ipynb_checkpoints/
/GeneratedData/IUCN_RedList/.ipynb_checkpoints/
